.buildpath
.project
.settings
_ss_environment.php
config/apache.conf
config/crontab.txt
config/*@*.cfg
db/init.mysql.sql
db/dumps/*-*-*.sql.gz
logs/*.log
logs/*.lock.*
logs/*.pid
public/.htaccess-default
public/.htaccess
public/assets/_combinedfiles
public/assets/Uploads/*
public/assets/*
public/cache/*
public/mysite/_config.php
public/themes/site/_combined/*
public/silverstripe-cache/*
script/apachectl
script/env.php
script/env.sh
diff.txt
