.buildpath
.project
.settings
_ss_environment.php
config/apache.conf
config/crontab.txt
config/*@*.cfg
config/logrotate.txt
db/init.mysql.sql
db/dumps/*-*-*.sql.gz
logs/*.log
logs/*.lock.*
logs/*.pid
public/.htaccess-default
public/.htaccess
public/mysite/_config.php
public/subsites/host-map.php
public/cache/*
public/silverstripe-cache/*
script/apachectl
script/env.php
script/env.sh
diff.txt
