[submodule "skel/public/cms"]
	path = skel/public/cms
	url = git@github.com:dimension27/silverstripe-cms.git
[submodule "skel/public/sapphire"]
	path = skel/public/sapphire
	url = git@github.com:dimension27/sapphire.git
[submodule "skel/public/dataobject_manager"]
	path = skel/public/dataobject_manager
	url = git@github.com:dimension27/DataObjectManager.git
[submodule "skel/public/uploadify"]
	path = skel/public/uploadify
	url = git@github.com:dimension27/Uploadify.git
[submodule "skel/public/hideemail"]
	path = skel/public/hideemail
	url = git@github.com:dimension27/silverstripe-hideemail.git
[submodule "skel/public/userforms"]
	path = skel/public/userforms
	url = git@github.com:dimension27/silverstripe-userforms.git
[submodule "skel/public/googleanalytics"]
	path = skel/public/googleanalytics
	url = git@github.com:dimension27/silverstripe-googleanalytics.git
