/**
 * This support file is used to style the WYSIWYG editor in the CMS
 */

@import url("standard.css");
@import url("site-style.css");

body.mceContentBody {
	min-height: 200px;
	font-size: 62.5%;
	padding: 10px;
}
body.mceContentBody a.broken {
	background-color: #FF7B71;
	border: 1px red solid;
}
