/*
 * Contains the layout and styling for the site. All content styling for CMS content 
 * should be contained in theme-style.css
 */

body {
	margin: 0;
	padding: 0;
}
#doc {
	width: 990px;
	margin: 0 auto;
}
#hd {
	position: relative;
	height: 106px;
	margin-bottom: 9px;
}
#logo {
	position: absolute;
	top: 10px;
	width: 92px;
	height: 89px;
	background: url(../images/sprite.png) 0px 0px;
	line-height: 190px;
	overflow: hidden;
}
#topNav {
	position: absolute;
	top: 82px;
	left: 104px;
}
#topNav ul,
#topNav ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#topNav ul li {
	float: left;
	height: 10px;
}
#topNav ul li a {
	background: url(../images/top-nav.png);
	display: block;
	height: 10px;
	line-height: 31px;
	overflow: hidden;
}
#topNav ul .home a {
	width: 37px;
	margin-right: 38px;
}
#topNav ul .home a:hover {
	background-position: 0 -10px;
}
#topNav ul .about a {
	width: 45px;
	margin-right: 38px;
	background-position: -75px 0;
}
#topNav ul .about a:hover {
	background-position: -75px -10px;
}
#topNav ul .services a {
	width: 64px;
	margin-right: 35px;
	background-position: -158px 0;
}
#topNav ul .services a:hover {
	background-position: -158px -10px;
}
#topNav ul .portfolio a {
	width: 73px;
	margin-right: 30px;
	background-position: -257px 0;
}
#topNav ul .portfolio a:hover {
	background-position: -257px -10px;
}
#topNav ul .gallery a {
	width: 61px;
	margin-right: 34px;
	background-position: -360px 0;
}
#topNav ul .gallery a:hover {
	background-position: -360px -10px;
}
#topNav ul .blog a {
	width: 35px;
	margin-right: 37px;
	background-position: -455px 0;
}
#topNav ul .blog a:hover {
	background-position: -455px -10px;
}
#topNav ul .contact a {
	width: 61px;
	margin-right: 100px;
	background-position: -527px 0;
}
#topNav ul .contact a:hover {
	background-position: -527px -10px;
}
#bd {
	float: left;
	margin-bottom: 42px;
	width: 100%;
}
#bd #primary {
	float: left;
	width: 688px;
	margin-left: 6px;
}
#bd #secondary {
	float: right;
	width: 253px;
}

#ft {
	clear: both;
	position: relative;
	height: 200px;
}
#ft .copyright {
    top: 24px;
	left: 24px;
    position: absolute;
}
#ft .contact {
    top: 24px;
	left: 761px;
    position: absolute;
}